<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Usuario</title>
	<link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
	<div class="wrapper">
		<div th:replace="~{/fragmentos::cabecalho}"></div>
        <main class="container_tela_principal">
			<section class="card_container_detalhe">
				<div class="card_detalhe">
					<h2 th:text="${noticia.topico}" class="topico_detalhes"></h2>
					<div class="titulo_principal_container">
						<h1 th:text="${noticia.titulo}"></h1>

					</div>
					<div class="imagem_noticia_container imagem_noticia_detalhe">
						<img th:src="@{'/' + ${noticia.caminhoImagem}}" alt="Imagem da Notícia">
					</div>
					<p th:text="${noticia.conteudo}"></p>
					<section class="fonte_data_container fonte_data_container_detalhe" style="margin-top: 20px;">
						<p th:text="'- ' + ${noticia.fonte}"></p>
						<span th:text="${#temporals.format(noticia.dataPublicacao)}"></span>
					</section>
					<div class="button_container">
                        <form th:action="'/noticias/'+${noticia.idNoticia}+'/edit'" method="get">
                            <input type="hidden" name="id" th:value="${noticia.idNoticia}" />
                            <button id="edit" type="submit" class="">Editar</button>
                        </form>
                        <form action="/noticias/delete" method="post">
                            <input type="hidden" name="id" th:value="${noticia.idNoticia}" />
                            <button id="delete" type="submit" class="">Excluir</button>
                        </form>
                    </div>
				</div>
			</section>
			<div th:replace="~{/fragmentos::footer}"></div>
		</main>

		<script src="/js/main.js"></script>
</body>

</html>