<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Jonatas de Assis">
    <title> Acesso ao Site</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="..css/loginstyle.css">
</head>
<body>
    <div th:replace="/fragmentos::cabecalho"></div>
    <main>
        <div class="container">
            <div class="login">
                <label for="usuario"> Usuário:</label>
                <input type="text" id="usuario" placeholder="Digite seu usuário">
            </div>  
            <div class="senha">
                <label for="senha"> Senha (8 caracteres mín..):</label>
                <input type="password" id="senha" minlength="8" maxlength="14" required placeholder="Digite sua senha">
            </div> 
            <section name="button">
                <button type="submit">Login </button>
                <a href="/registro">
                    <button type="submit" href="">Cadastre-se</button>
                </a>
            </section> 
        </div>
    <footer></footer>
    </main>
</body>
</html>