<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Gerenciar usuários</title>
	<link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
	<div class="wrapper">
		<div th:replace="~{/fragmentos::cabecalho}"></div>
		<main class="container_tela_principal">
			<section class="titulo_principal_container">
				<h1> Lista de usuários </h1>
				<a href="/cadastro" class="criar_noticia"> <img src="/img/icones/tasks.svg"/> Novo usuário</a>
			</section>
			<hr /><br><br>
			<table class="tabela">
				<thead>
					<tr>
						<th>Nome</th>
						<th>Email</th>
						<th>Data de Nascimento</th>
						<th>Telefone</th>
						<th>CPF</th>
						<th>Editar</th>
						<th>Excluir</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="usuario : ${listaUsuarios}">
						<td>
							<a th:href="'/usuarios/'+${usuario.idUsuario}" th:text="${usuario.nome}">
							</a>
						</td>
						<td th:text="${usuario.email}"></td>
						<td th:text="${#temporals.format(usuario.dataNascimento, 'dd/MM/yyyy')}"></td>
						<td th:text="${usuario.telefone}"></td>
						<td th:text="${usuario.cpf}"></td>
						<td>
							<a th:href="'/usuarios/'+${usuario.idUsuario}+'/edit'">
								<button id="edit">Editar</button>
							</a>
						</td>
						<td>
							<form action="/usuarios/delete" method="post">
								<input type="hidden" name="id" th:value="${usuario.idUsuario}" />
								<button id="delete" type="submit">Excluir</button>
							</form>
						</td>
					</tr>
				</tbody>
			</table>
		</main>
		<div th:replace="~{/fragmentos::rodape}"></div>
	</div>
	<script src="/js/main.js"></script>
</body>

</html>